[preset name="Android-ETC2"]
options/texture_compression/quality=0.75
options/texture_compression/mode=ETC2
options/generate_mipmaps=true
options/filter_textures=true

# Example alternative preset for high-quality devices
[preset name="Android-ASTC"]
options/texture_compression/quality=0.9
options/texture_compression/mode=ASTC
options/generate_mipmaps=true
options/filter_textures=true
